/* || CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

.offscreen {
    position: abosolute;
    left: -10000px;
}

body {
    background-color: #1b1b32;
    color: white;
    width: 100%;
    height: 100vw;
    margin: 0;
    font-size: 16px;
}
h1, #description {
    margin: 0 auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 1em;
}

fieldset {
    border: none;
    padding: 2rem 0;
}  